QANewsFeed.json
{
  "name": "QANewsFeed",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1056,
        448
      ],
      "id": "f3668b13-71b2-4699-a696-380332edbf93",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -816,
        592
      ],
      "id": "34e39c05-8d3f-4a54-989d-688bd67d2178",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -480,
        592
      ],
      "id": "9e767616-3200-49fd-873c-84a0a0508471",
      "name": "Split Out"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7a5f539c-6395-4233-ac90-181f0c83193d",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1456,
        384
      ],
      "id": "a0e7b809-02d4-4041-b3f0-a10a5d99ef25",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8a197153-47d0-4dde-86bb-8320b060031f",
              "leftValue": "={{$json.publishedDate}}",
              "rightValue": "={{ $json.currentDate }}",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        944,
        608
      ],
      "id": "4878fe97-27aa-407b-9526-332b18aa7180",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "444ac845-ac2b-4d33-87f5-37c40f234052",
              "name": "urls",
              "value": "['https://rss.app/feeds/FbM2Tr5tAdTKAwbr.xml','https://rss.app/feeds/y6jgpVGIq4hBaC1j.xml','https://rss.app/feeds/qQKn3dzg8icDrAzR.xml','https://rss.app/feeds/CrDXVhQM8wy14yyz.xml']",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        592
      ],
      "id": "5514a4b9-65a2-4072-b204-b550bcdc0dda",
      "name": "Input Feeds List"
    },
    {
      "parameters": {
        "url": "={{ $json.urls }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -48,
        608
      ],
      "id": "d3e27ee6-0184-42f7-952b-eff2674792ca",
      "name": "Read Feed"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b13be15-3034-46e3-8236-ab9f6ea081ab",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "97433edd-cabd-4291-ba77-4d50e41c1577",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "fb85da11-7b2f-4594-9352-c63ee971b021",
              "name": "contentSnippet",
              "value": "={{ $json.contentSnippet }}",
              "type": "string"
            },
            {
              "id": "f2cfe536-f53f-4bf3-a2d3-35c07dc2a89f",
              "name": "pubDate",
              "value": "={{ $json.isoDate }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true,
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        608
      ],
      "id": "2f2fc835-4cd1-4722-a18a-fd83710bd864",
      "name": "Extract Data"
    },
    {
      "parameters": {
        "options": {
          "includeInputFields": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        336,
        608
      ],
      "id": "38f9e7ad-9b63-4fd9-af31-727d714704ae",
      "name": "Get Current Date"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.pubDate }}",
        "outputFieldName": "publishedDate",
        "options": {
          "includeInputFields": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        544,
        608
      ],
      "id": "8326a5eb-ea7b-4b25-96f2-dcce51662eda",
      "name": "Get Feed Published Date"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "outputFieldName": "currentDate",
        "options": {
          "includeInputFields": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        752,
        608
      ],
      "id": "989ce6e6-5869-417c-8bd6-ffeecb41c826",
      "name": "Formatted Current Date"
    },
    {
      "parameters": {
        "chatId": "-1003867672247",
        "text": "=Title : {{ $json.title }}\nLink: {{ $json.link }}\nGist of the news:{{ $json.output[0].content[0].text }}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2112,
        704
      ],
      "id": "7d2054b5-51cc-4d24-b4c4-97cde5a2d8bd",
      "name": "Send News Notification To Telegram Group",
      "webhookId": "4b68e12d-1e8f-488e-a1fc-beefb5595d34",
      "credentials": {
        "telegramApi": {
          "id": "BTnNAxZaKyaPZCYS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        896,
        1008
      ],
      "id": "dfc71ba7-7c91-49de-9322-eda7df2c5ae6",
      "name": "Wait for 10 seconds",
      "webhookId": "017cca8f-1d14-461d-a8ff-428cc0717653"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1216,
        592
      ],
      "id": "828d66ac-f710-456a-80f2-9351c8c2fa9a",
      "name": "Loop Over  Filtered  News"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -288,
        592
      ],
      "id": "470ddeac-033f-476e-b5ba-5f82ad4a0a5e",
      "name": "Loop Over Feed URL's"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "119cf106-14eb-458b-8311-17ad6785ab47",
              "name": "title",
              "value": "={{ $('Wait for 10 seconds').item.json.title }}",
              "type": "string"
            },
            {
              "id": "63a2b273-0b3b-4caf-a493-926a7a570944",
              "name": "link",
              "value": "={{ $('Wait for 10 seconds').item.json.link }}",
              "type": "string"
            },
            {
              "id": "8fdebb3b-a6a3-4538-a168-64fdac9d699f",
              "name": "output[0].content[0].text",
              "value": "={{ $json.output[0].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        704
      ],
      "id": "35600b94-736f-4880-9083-f3c90f28d19b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Summarize the following QA news article in 3 concise bullet points.\\n\\nTitle: {{$json.title}}\\n\\nContent: {{$json.contentSnippet}}\\n\\nKeep it technical and relevant for QA engineers.\""
            },
            {
              "role": "system",
              "content": "You are a senior QA automation engineer"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 500
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1280,
        976
      ],
      "id": "770ddc2f-fdc6-43a1-8baf-1f3a82ec0704",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "w5KvGluJqKpo5l4r",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Loop Over  Filtered  News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Input Feeds List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Feed URL's",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Feeds List": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Feed": {
      "main": [
        [
          {
            "node": "Loop Over Feed URL's",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Get Current Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Date": {
      "main": [
        [
          {
            "node": "Get Feed Published Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Feed Published Date": {
      "main": [
        [
          {
            "node": "Formatted Current Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatted Current Date": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for 10 seconds": {
      "main": [
        [
          {
            "node": "Loop Over  Filtered  News",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over  Filtered  News": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait for 10 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Feed URL's": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send News Notification To Telegram Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f8e9780a-2196-41cd-9a47-c210e19f2da2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f2a855ed2475b63763b2fe6a44df1fbc61b0ad75e43f019fde1d057103a46f15"
  },
  "id": "72MkDQmQhXVdN197",
  "tags": []
}